assets/net/deprecated/
assets/net/synthetic/
assets/net/real/

.vscode/

########################################
# 操作系统通用
########################################
.DS_Store
._.DS_Store
Thumbs.db
Icon?
ehthumbs.db
Desktop.ini
*~

########################################
# 日志 & 临时文件
########################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
*.tlog
tmp/
temp/
.cache/

########################################
# Node.js / 前端
########################################
node_modules/
dist/
build/
.pnpm-store/
.parcel-cache/
.next/
out/
.svelte-kit/
coverage/
*.lcov

########################################
# Python
########################################
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env*/
venv*/
ENV*/
*.egg-info/
.eggs/
pip-wheel-metadata/
.ipynb_checkpoints/


########################################
# .NET / Visual Studio
########################################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

########################################
# JetBrains IDEs
########################################
.idea/
*.iml
*.ipr
*.iws

########################################
# 环境变量 & 秘钥
########################################
.env
.env.*.local
*.pem
*.key
*.crt

########################################
# 压缩包 & 打包文件
########################################
*.zip
*.tar
*.tar.gz
*.rar
*.7z

########################################
# 映射 & 压缩后的产物
########################################
*.min.js
*.map